* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fc;
    
    justify-content: center;
    overflow-x: auto;
}

.header {
    text-align: center;
    margin: 20px 0;
}

.header h1 {
    font-size: 24px;
    color: #4b88a2;
}

.header p {
    font-size: 18px;
    color: #ff7a7a;
}
.booth-container {
    justify-content: center;
    overflow-x: auto; /* Allow horizontal scrolling */
    margin-left: auto;
    margin-right: auto;
}
.main-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 5px;
    justify-content: center; /* Centers the grid items */
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
   
}

.category-box, .special-exhibition, .unique-jobs {
    background-color: #ffffff;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100px;
}


h3 {
    text-align: center;
    font-size: 12px;
    color: #333333;
    margin-bottom: 5px;
}
.career-boxes, .unique-jobs-boxes {
    display: flex;
    justify-content: flex-start; /* Align boxes to the left */
    gap: 1px; /* Increased gap for better spacing */
    flex-wrap: nowrap; /* Prevent wrapping to the next line */
    align-items: flex-start;

}

.career-boxes .box, .unique-jobs-boxes .box {
    width: 100%;
    background-color: #88c1ff;
    padding: 2px;
    text-align: center;
    color: white;
    font-size: 9px;
    border-radius: 3px;
    box-sizing: border-box;
    height: 60px;
}


.special-exhibition {
    background-color: #9bd3c7;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
}

.container {
    display: flex;
    margin: 10px;
    justify-content: center;
}

button {
    background: none;
    border: none;
    padding: 0;
}

button.box {
    padding: 10px;
}

.column {
    flex-basis: 30%; 
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.photobooth-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    margin-right: 10px;
}

.box {
    width: 100%;
    height: 80px; /* Fixed box height */
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px 5px;
    font-size: 14px;
    font-weight: bold;
}

.pink {
    background-color: pink;
}

.green {
    background-color: lightgreen;
}

.lightgreen {
    background-color: lightblue;
}

.yellow {
    background-color: lightyellow;
}

.blue {
    background-color: lightblue;
}

.darkblue {
    background-color: #add8e6;
}

.darkestblue {
    background-color: #87ceeb;
}

.shelter {
    background-color: darkgreen;
    color: white;
}

.photozone {
    background-color: darkblue;
    color: white;
    font-size: 18px;
}

footer {
    background-color: #4b88a2;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
